// *-- color --*
$color-primary: #17a2b8;
$color-primary-dark: #138496; // hover color
$color-primary-light: #dceaec;

$color-black: #212529; // default black color;
$color-blue: #007bff;
$color-red: #d51515;

$color-menu: #2a3f55;
$color-menu-dark: #233547;
$color-menu-light: #375775;

$color-gray-background: #f7f7f8;

// *-- font size --*
$font-xs: 10px;
$font-s: 14px;
$font-l: 18px;
$font-xl: 20px;